* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: red;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("/src/img/Jowhareh_galleries_8_poster_5d35a08a-a291-4572-80a8-d6cb4ea7324f.png") no-repeat;
    background-position: center;
    background-size: cover; */
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("/src/img/mohsen-golriz-jnvAN0wckSk-unsplash.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.login-container {
    margin-bottom: 40px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 400px;
    text-align: center;
    position: relative;
    background: transparent;
    border: 2px solid #ebb40f;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: grid;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 1.5rem;
    color: #00a693;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    font-size: large;
    color: #00a693;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #ebb40f;
    color: #00a693;
    border: none;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
}

button:hover {
    background-color: #00a693;
    color: #ebb40f;
}

